.home-page {

    .hero-section {
        width: 100vw;
        height: 100vh;
        background: linear-gradient(var(--primary), var(--primary-variant));
        display: flex;
        flex-direction: column;
    }

    .hero-vector{
        width: calc(864 * var(--unit));
        height: calc(656 * var(--unit));
        background: url('../../assets/graphics/heroVector.svg') no-repeat center;
        background-size: cover;
        position: absolute;
        z-index: 0;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    .hero-title-container {
        width: calc(1088 * var(--unit));
        height: calc(192 * var(--unit));
        margin: calc(160 * var(--unit)) auto 0 auto;
        z-index: 1;
    }

    .hero-title-text {
        text-align: center;
        color: var(--b0);
        &.en {
            font: 600 calc(64 * var(--unit)) "Satoshi";
        }

        &.th {
            font: 600 calc(64 * var(--unit)) "IBM Plex Sans Thai";
            line-height: calc(88 * var(--unit));
        }
    }

    .hero-description-container {
        width: calc(864 * var(--unit));
        height: calc(80 * var(--unit));
        margin:  0 auto;
        z-index: 1;
    }

    .hero-description-text {
        text-align: center;
        color: var(--b0);
        &.en {
            font: 300 calc(20 * var(--unit)) "Satoshi";
        }

        &.th {
            font: 300 calc(20 * var(--unit)) "IBM Plex Sans Thai";
        }
    }

    .hero-button-container{
        width: calc(200 * var(--unit));
        height: calc(72 * var(--unit));
        margin: calc(40 * var(--unit)) auto 0 auto;
        z-index: 1;
    }

    .hero-button{
        width: calc(200 * var(--unit));
        height: calc(72 * var(--unit));
        border-radius: calc(20 * var(--unit));
        display: grid;
        place-content: center;
        background: rgba(128, 219, 255, 0.56);
        text-decoration: none;
    }

    .hero-button-text{
        width: calc(192 * var(--unit));
        height: calc(64 * var(--unit));
        border-radius: calc(16 * var(--unit));
        display: grid;
        place-content: center;
        background: var(--b0);
        color: var(--primary);
        &.en {
            font: 500 calc(16 * var(--unit)) "Satoshi";
        }

        &.th {
            font: 500 calc(16 * var(--unit)) "IBM Plex Sans Thai";
        }
    }

    @media (max-width:512px) and (orientation: portrait) {
        .hero-section {
            width: 100vw;
            height: 100vh;
            background: linear-gradient(var(--primary), var(--primary-variant));
            display: flex;
            flex-direction: column;
        }
    
        .hero-vector{
            width: calc(512 * var(--unit));
            height: calc(656 * var(--unit));
            background: url('../../assets/graphics/heroVector.svg') no-repeat center;
            background-size: cover;
            position: absolute;
            z-index: 0;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            object-fit: cover;
        }
    
        .hero-title-container {
            width: calc(432 * var(--unit));
            height: auto;
            margin: calc(160 * var(--unit)) auto 0 auto;
            z-index: 1;
        }
    
        .hero-title-text {
            text-align: start;
            color: var(--b0);
            &.en {
                font: 600 calc(56 * var(--unit)) "Satoshi";
            }
    
            &.th {
                font: 600 calc(56 * var(--unit)) "IBM Plex Sans Thai";
                line-height: auto;
            }
        }
    
        .hero-description-container {
            width: calc(432 * var(--unit));
            height: auto;
            margin:  calc(32 * var(--unit)) auto 0 auto;
            z-index: 1;
        }
    
        .hero-description-text {
            text-align: start;
            color: var(--b0);
            &.en {
                font: 300 calc(20 * var(--unit)) "Satoshi";
            }
    
            &.th {
                font: 300 calc(20 * var(--unit)) "IBM Plex Sans Thai";
            }
        }
    
        .hero-button-container{
            width: calc(432 * var(--unit));
            height: calc(72 * var(--unit));
            margin: calc(32 * var(--unit)) auto 0 auto;
            z-index: 1;
        }
    
        .hero-button{
            width: calc(200 * var(--unit));
            height: calc(72 * var(--unit));
            border-radius: calc(20 * var(--unit));
            display: grid;
            place-content: center;
            background: rgba(128, 219, 255, 0.56);
            text-decoration: none;
        }
    
        .hero-button-text{
            width: calc(192 * var(--unit));
            height: calc(64 * var(--unit));
            border-radius: calc(16 * var(--unit));
            display: grid;
            place-content: center;
            background: var(--b0);
            color: var(--primary);
            &.en {
                font: 500 calc(16 * var(--unit)) "Satoshi";
            }
    
            &.th {
                font: 500 calc(16 * var(--unit)) "IBM Plex Sans Thai";
            }
        }
    }
}